@model Vidly.Models.Movie

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <h2>
                @Html.DisplayFor(model => model.Name)
            </h2>

            <ul>
                <li>Genre : @Model.Genre.GenreName</li>
                <li>Realese Date : @Model.ReleaseDate</li>
                <li>Added Date : @Model.DateAdded</li>
                <li>Number In Stock : @Model.NumberInStock</li>
                <li> Customer : </li>
                 @foreach(var item in Model.Customers)
                 {
                    <b>-</b> @item.Name <br />
                 }
            </ul>
        </dd>
    </dl>
</div>